{% extends "base.html" %}

{% block content %}
    <h2>Альбом</h2>
    <p>Название: {{ album.name }}</p>
    <p>Описание: {{ album.description }}</p>
    {% if perms.webapp.change_album or user == album.author %}
        <p><a href="{% url 'webapp:album_update' album.pk %}">Редактировать</a></p>
    {% endif %}
    {% if perms.webapp.delete_album or user == album.author %}
        <p><a href="{% url 'webapp:album_delete' album.pk %}">Удалить</a></p>
    {% endif %}
    <h2>Фотографии Альбома</h2>
    {% for photo in photo_list %}
        <div style="border: 2px solid black; max-width: 600px; margin-bottom: 20px; padding-left: 15px;border-radius: 33px">
            {% if photo.photo %}
                <img src="{{ photo.photo.url }}" width="200" height="201" alt="photo avatar">
            {% endif %}
            <p>Подпись: {{ photo.signature }}</p>
            <p>Автор: {{ photo.author }}</p>
            {% if perms.webapp.change_photo or user == photo.author %}
                <p><a href="{% url 'webapp:photo_update' photo.pk %}">Редактировать</a></p>
            {% endif %}
            {% if perms.webapp.delete_photo or user == photo.author %}
                <p><a href="{% url 'webapp:photo_delete' photo.pk %}">Удалить</a></p>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}